{% extends "base.html" %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="card "style="margin: 0 auto">
            <div class="card-block " >
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width: 100%;">
            
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="https://i.ytimg.com/an_webp/2MoGxae-zyo/mqdefault_6s_480x270.webp?du=3000&sqp=CIi88fgF&rs=AOn4CLDXKc__QV4e7OzO4m4ubOsvH_YgXg" class="img-responsive" alt="...">
                </div>
                <div class="item">
                    <img src="https://i.ytimg.com/an_webp/2MoGxae-zyo/mqdefault_6s_480x270.webp?du=3000&sqp=CIi88fgF&rs=AOn4CLDXKc__QV4e7OzO4m4ubOsvH_YgXg" class="img-responsive" alt="...">
                </div>
                <div class="item">
                    <img src="https://i.ytimg.com/an_webp/2MoGxae-zyo/mqdefault_6s_480x270.webp?du=3000&sqp=CIi88fgF&rs=AOn4CLDXKc__QV4e7OzO4m4ubOsvH_YgXg" class="img-responsive" alt="...">
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            </div>
        </div>
        </div>
    </div>

<br>
    <!-- 부위별영상추천 -->
    <div class="card">
        <div class="card-block">
        <h1>recommended video</h1>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-dark">Dark</button>
                <button type="button" class="btn btn-outline-dark">Dark</button>
                <button type="button" class="btn btn-outline-dark">Dark</button>
                <button type="button" class="btn btn-outline-dark">Dark</button>
                <button type="button" class="btn btn-outline-dark">Dark</button>
                <button type="button" class="btn btn-outline-dark">Dark</button>
            </div>
        </div>
        
        <div class="row row-cols-2">
            <div class="col">
                <img src="https://i.ytimg.com/an_webp/pSzSVgFzGUI/mqdefault_6s.webp?du=3000&sqp=CJS48PgF&rs=AOn4CLCJRzfcavZXLWJUkD9xSVFbfzcdjA" class="d-block w-100" alt="...">
                <p>레전드 뱃살 돌려깎기</p>
            </div>
            <div class="col">
                <img src="https://i.ytimg.com/an_webp/pSzSVgFzGUI/mqdefault_6s.webp?du=3000&sqp=CJS48PgF&rs=AOn4CLCJRzfcavZXLWJUkD9xSVFbfzcdjA" class="d-block w-100" alt="...">
                <p>레전드 뱃살 돌려깎기</p>
            </div><div class="col">
                <img src="https://i.ytimg.com/an_webp/pSzSVgFzGUI/mqdefault_6s.webp?du=3000&sqp=CJS48PgF&rs=AOn4CLCJRzfcavZXLWJUkD9xSVFbfzcdjA" class="d-block w-100" alt="...">
                <p>레전드 뱃살 돌려깎기</p>
            </div><div class="col">
                <img src="https://i.ytimg.com/an_webp/pSzSVgFzGUI/mqdefault_6s.webp?du=3000&sqp=CJS48PgF&rs=AOn4CLCJRzfcavZXLWJUkD9xSVFbfzcdjA" class="d-block w-100" alt="...">
                <p>레전드 뱃살 돌려깎기</p>
            </div>
            </div>
        </div>
    </div>
    <br>
    <!-- 루틴추천 -->
    <div class="card">
        <div class="card-block">
        <h1>recommended routine</h1>
        <table class="table">
            <tr>
            <td>Mark</td>
            <td>베스트상체루틴</td>
            <td>98742</td>
            </tr>
            <tr>
            <td>Jacob</td>
            <td>전신불태우기</td>
            <td>9487</td>
            </tr>
            <tr>
            <td>Larry</td>
            <td>근육부시기</td>
            <td>2345</td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
    
    
</div>

{% endblock %}