{% extends 'base.html' %}

{% block content %}


<div class="card">
    <div class="card-block">
        <h2>SIGN UP</h2>
        <form method="POST" action="{% url 'account:signup' %}" class="reveal-content">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" name="username" type="text" value="" placeholder="Username">
            <div>
            <div class="form-group">
                <input class="form-control" name="password1" type="password" value="" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" name="password2" type="password" value="" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <button type="submit" class=" btn btn-primary">Sign up</button>
            </div>
        </form>

{% endblock %}