{% extends 'base.html' %}

{% block content %}

<h2>회원가입 페이지</h2>

<div class="card">
    <div class="card-block">
        <h2>SIGN UP</h2>
        <form method="POST" action="{% url 'account:signup' %}" class="reveal-content">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" name="username" type="text" value="">
            <div>
            Password:
            <br>
            <input name="password1" type="password" value="">
            <br>
            Comfirm Password:
            <br>
            <input name="password2" type="password" value="">
            <br><br>
            <input class="btn btn-primary" type="submit" value="sign up">
        </form>

{% endblock %}