{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>POSTS</h1><br><br>
    <a href="{% url 'routinepage:new' %}" style="color:white;">register</a><br><br>

    {% for routine in page_posts %}
        <div class="card">
            <div class="card-block">
                <iframe display="inline" src="{{ routine.url1 }}" frameborder="0"></iframe>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="font-size: 80px; text-decoration: none;" href="{% url 'routinepage:detail' routine.id %}"> #routine {{routine.title}}</a>
            </div>
        </div>
    {%endfor%}
    <br><br>
</div>

{% endblock %}