{% extends 'base.html' %} {% block content %} {% load post_extras %}
<p><a href="{% url 'videopage:createPart' %}" class="btn btn-default" >New Post</a></p>
     
{% for post in posts %}
<article class="post">
  <a href="{% url 'videopage:partHomeDetail' post.id %}">핫영상</a>
  <h1>
    <iframe
      width="560"
      ,
      height="315"
      src="{{post.url}}"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gryoscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </h1>
  <h4>{{ post|add_link|safe|linebreaksbr }}</h4>
  <hr />
</article>
{% endfor %} {% endblock %}
