{% extends 'base.html' %} {% block content %} {% load post_extras %}


<p><a href="{% url 'videopage:createPart' %}" class="btn btn-info" >NEW POST</a></p>

{{ hashtag.content }} {% for post in posts %}
<div class="card">
  <div class="card-block">
<article class="post">
  <h1>
    <iframe
      width="560"
      ,
      height="315"
      src="{{post.url}}"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gryoscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </h1>
  <a href="{% url 'videopage:partHomeDetail' post.id %}">자세히 보기</a>
  <br />
  {{ post|add_link|safe|linebreaksbr }}
  <hr />
</article>
</div>
</div>
{% endfor %} {% endblock %}